
<div class="login-page">
<div class="center">

<% if !is_logged_in %>
<a href="/auth/facebook"> Log in thru facebook </a><br>

<% if notice %>
<%= notice %>
<% end %>

<div class="double-panel-container">
<div class="log-in-side">
Log In
<%= render 'newform' %>
</div>
<div class="sign-in-side">
Sign Up
<%= render 'users/newform' %>
</div>

</div>



<% else %>
You're already logged in

<% end %>



</div>
</div>