THIS Page piggy backs from the new session Page as a template
it just has extra lines like
"Just one last step. Please kindly login or signup. It's super fast."



<% if !is_logged_in %>
<a href="/auth/facebook"> Log in thru facebook </a><br>

<% if notice %>
<%= notice %>
<% end %>

Form to log in:
<%= render 'newform' %>
Form to sign up:
<%= render 'users/newform' %>


<% end %>




<% if current_email %>


<% end %>
