Shipping 

Subtotal: <%= current_cart.subtotal %>
<br>
I need to turn this into a form to submit. it will edit the cart ....
<div>
Shipping Options:
<% if current_cart.subtotal > free_shipping_threshold %>
    - Free <br>
    - Express Shipping <%= current_cart.compute_shipping_options[:fast] %>
<% else  %>
    - Standard Shipping <%= current_cart.compute_shipping_options[:slow] %><br>
    - Express Shipping <%= current_cart.compute_shipping_options[:fast] %>
<% end  %>
</div>


taxes:
based on zipcode
