
<div class="center-wrapper">

<section class="cart-items-section">

<div class="cart-title">
<h2> YOUR BAG </h2>
</div>



    <%= render "cart_details" %>

</section>
    <br>
    <div>

    <section class="cart checkout-section">
        <div class="subtotal-label">
        <div class="left">
        Subtotal
        </div>
        <div class="right">
        $<%= @cart.compute_current_subtotal %>
        </div>
        </div>
            <a class="button" href="<%= collect_address_path %>">Go to Checkout</a>
        

    </section>
    <div>










    </div>