<ul>
<% @orders.each do | order | %>
    <% if order.paid %>
    <li>
    <%= link_to "Amount: " + order.total_amount.to_s + " - " + order.created_at.strftime("%A, %b %d")  , order_path(order) %>
    </li>
    <% end %> 
    <% end %> 
    </ul>