home page testing testing 123
<div class="homepage">

    <div class="hero-box" id="kimk">
        <div class="text">
            <a class="title"  >
                Lorem Ipsum
            </a>
            <p> Donec quis turpis massa. Maecenas mollis finibus elit quis vulputate </p>
        </div>
    </div>


    <div class="hero-box" id="chanel-face">
        <div class="text">
            <a class="title"  >
                Aenean maximus
            </a>
            <p> Nulla posuere convallis mattis. Maecenas mattis pulvinar nisl eu vulputate </p>
        </div>
    </div>


    <div class="hero-box" id="farenheit">
    <div class="text">
        <a class="title"  >
        Maecenas risus
        </a>
        <p> Nulla eu mauris eu tellus ultrices sagittis quis ut quam.  </p>
    </div>
</div>



    <div class="hero-box" id="jadore">
        <div class="text">
            <a class="title"  >
            Maecenas risus
            </a>
            <p> Nulla eu mauris eu tellus ultrices sagittis quis ut quam.  </p>
        </div>
    </div>



    <div class="hero-box" id="sauvage">
    <div class="text">
        <a class="title"  >
        Maecenas risus
        </a>
        <p> Nulla eu mauris eu tellus ultrices sagittis quis ut quam.  </p>
    </div>
</div>


</div>
