<h1> All Categories</h1>

<% if notice %>
<%= notice %>
<% end %>

<%= render "admin_menu" %>

<ul>

    <% @categories.each do | cat | %>
    <li>
        <%= link_to cat.name, category_path(cat) %> 
    </li>
    <% end %>
</ul>
