<h1> All Categories</h1>
<%= link_to "Add a new category", new_category_path %> 

<% if notice %>
<%= notice %>
<% end %>


<ul>

    <% @categories.each do | cat | %>
    <li>
        <%= link_to cat.name, category_path(cat) %> 
    </li>
    <% end %>
</ul>
