* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica, Arial;

}

h1, h2, h3 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;

}

.button {
    text-transform: uppercase;
}

body {
}

/*-----------------------------------*/
/*REUSABLE STUFF */
/*-----------------------------------*/

/*used in checkout flow cart to end */
.center-wrapper {
    margin: 0 auto;
    padding-top: 50px;
    border: 1px solid black;
    width: 50%;
    min-width: 400px;
}

.checkout-bill .line {
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom:15px;
}
.checkout-bill .number-label {
    color: darkgray;
    text-transform: uppercase;
    font-size: 12px;
}

.checkout-bill .number-label.special {
    font-size: 24px;
    color: black;

}

.checkout-bill .dollar-amount {
    font-size: 14px;
    font-weight: bold;
}

.checkout-bill .dollar-amount.special {
    font-weight: normal;
    font-size: 24px;
}

.address-form input.big-brown-button, .shipping-panel input.big-brown-button, .payment-form input.big-brown-button {
    display: block; /*important. makes the link element block. if you use a wrapping div the div wont be clickable */
    margin-top: 10px;
    width: 100%;
    height: auto;
    border: none;
    background-color: #c39885;
    padding: 20px 0 20px 20px; 
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;

}

/*these input and labels are the standard 100% width ones for checkout forms */

.checkout-form input {
    padding-left: 10px;
    width: 100%;
    height: 45px;
    margin-bottom: 30px;
    border: 1px solid grey;
}

.checkout-form label {
    display: inline-block;
    width: 100%;
    color: grey;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;
}


/*-----------------------------------*/
/*HEADER STUFF */
/*-----------------------------------*/

.head-banner {
    position: relative;
    width: 100%;
    height: 100px;
    border: 1px solid black;
}

.head-banner h1 {
    border: 1px solid red;
    position: absolute;
    top: 30%;
    left: 40%;


}

.head-banner .button {
    padding-top: 45px;
    font-size: 12px;
    letter-spacing: 1.5px;

}

.head-banner .menu {
    float: left;
    padding-left: 10px;
}

.head-banner .bag {
    float: right;
    padding-right: 10px;

}

nav {
    border: 1px solid black;
    text-align: center
}

nav ul {

}
nav li {
    display:inline-block;
     /*border:1px solid green; */
    padding-top: 5px;
    margin-left: 20px;
    margin-bottom: 12px;

}

nav li a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    border-bottom:1.5px solid transparent; /*for the hover effect */

}

nav li a:hover {
    border-bottom:1.8px solid black; 

}

/*end of HEADER STUFF */


/*-----------------------------------*/
/*CATEGORIES STUFF */
/*-----------------------------------*/


.category-hero-box {
    background-image: url(https://cdn.shopify.com/s/files/1/2037/5105/collections/body.jpg?v=1570464729);
    background-size: 100% auto;

    height: 350px;
    position: relative;
}

.category-hero-box h2 {
    color: white;
    position: absolute;
    bottom: 100px;
    left: 40px;
}


.product-box {
    height: 500px;
    text-align: center;
}

.product-box img {
    /* we expect square pics */
    width: 100%
}

.product-title {
    /* border: 1px solid red; */
    height: 60px;
    /*text-align: center;*/
    padding: 15px 20% 0 20%;
    line-height: .5; /*this is a parent div. parent div's line height CANT be greater than child's */

}

.product-title a{
    font-size: 12px;
    text-transform: uppercase;
    line-height: 1;

}

.product-price {
        /* text-align: center; */
        padding-bottom: 15px;
        font-size: 14px;
}

.product-box .button {
    display: inline-block;
    padding: 8px 45px;
    border: 1px solid black;
    font-size: 12px;

}


/*end of CATEGORIES STUFF */


/*-----------------------------------*/
/*PRODUCT SHOW STUFF */
/*-----------------------------------*/

.product-show-panel {
    display: flex; 
    align-items: flex-start;
    flex-wrap: wrap;
}
.product-show-panel .product-image {
    min-width: 400px;
    /* border: 1px solid green; */
    display: inline-block;
    /* width: 59%; */
    flex-basis: 59%;
    flex-grow: 1;

}

.product-show-panel .product-image img {
    padding-left: 8%;
    padding-right: 0%;
    padding-top: 50px;
    width: 100%;
}
.product-show-panel .product-info {
    /* border: 1px solid orange; */
    display: inline-block;
    /* width: 40%; */
    flex-basis: 40%;
    flex-grow: 1;
    min-width: 300px;
    padding: 150px 8% 200px;

}

.product-show-panel .product-info .product-name {
    text-align: center;
    
}

.product-show-panel .product-info .add-to-cart #submit{
    /* id makes it specific */
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    border: none;
    background-color: #c39885;
    padding: 20px 0; 
    font-weight: bold;
}

.product-show-panel .product-info .product-description h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.product-show-panel .product-info .product-description {
    line-height: 1.4;
    font-size: 16px;
}

.product-show-panel .product-info  .quantity-selector {
    /* border: 1px solid red; */
    width: 60px;
    height: 30px;
}

.product-show-panel .product-info  .quantity-container {
    margin-top: 20px;
    /* border: 1px solid orange; */
    height: 40px;
}


.product-show-panel .product-info .quantity-container .label {
    float: left;
    text-transform: uppercase;
    padding-top: 5px;
}

.product-show-panel .product-info .quantity-container .selector {
    float: right;
}



/*end of PRODUCT SHOW STUFF */



/*-----------------------------------*/
/*CART SHOW STUFF */
/*-----------------------------------*/


.cart.checkout-section {
    background-color: hsla(18,34%,64%,.2);
}


.cart-items-section {
}
.cart-title {
    padding-left: 20px;
    padding-bottom: 30px;
}
.cart-items-section  ul {
    list-style-type: none;
}

.cart-item {
    /* border: 1px solid blue; */
    margin-bottom: 15px;
    padding: 15px;
    background-color: #F5F5F5;
    display: flex; 
    align-items: flex-start; 
     flex-wrap: wrap;

}

.cart-items-section .cart-item .image {
    /* border: 1px solid orange; */
    /* display: inline-block; */
    width: 120px;
    /* width: 20%; */
    height: 120px;
}

.cart-items-section .cart-item  .image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cart-items-section .cart-item .middle-pane {
    /* border:1px solid red; */
    /* display: inline-block; */
    text-transform: uppercase;
    font-size: 12px;
    /* width: auto; */
    /* flex-basis: 50%; */
    flex-grow: 1;
    height: 120px;
    padding-left: 15px;

    /*as a container: */
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.cart-items-section .cart-item .middle-pane .title {
    font-weight: bold;
    letter-spacing: .2px;
    margin-bottom: 5px;
}

.cart-items-section .cart-item .middle-pane .prices {
    font-size: 12px;
    color: grey;
}
.cart-items-section .cart-item .right-pane {
    /* float: right; */

    width: 80px;
    height: 120px;
    /* border:1px solid green; */
    /* display: inline-block; */
    text-transform: uppercase;
    font-size: 10px;
    /* flex-basis: 20%; */
    /* flex-shrink: 1; */

        /*as a container: */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        text-align: right;

}

.cart-items-section .cart-item .right-pane .quantity-selector {
    width: 40px;
    height: 30px;
    background-color: #F5F5F5;
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;

}

.cart-items-section .cart-item .right-pane .submit {
    border: none;
    text-transform: uppercase;
    font-size: 10px;


}

.cart-items-section .cart-item .right-pane .quantity {
}


.cart-items-section .cart-item .right-pane .remove-button  #cart-item-delete-button{
    color: grey;
    font-size: 10px;

}


.parent {
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
}

.child-a {
    border: 1px solid red;

    width: 19%;
    height: 100px;
}

.child-a img {
    width: 100%;
    overflow: hidden;
}


.child-b {
    border: 1px solid green;

    width: 39%;
    height: 200px;
}

.child-b .middle-pane {
    width: 100%;
}
.child-c {
    border: 1px solid blue;

    width: 19%;
    height: 100px;
}


.cart.checkout-section {
    background-color: #F5F5F5;
    padding: 30px 30px 50px;

}

.cart.checkout-section .button {
    display: block; /*important. makes the link element block. if you use a wrapping div the div wont be clickable */
    margin-top: 10px;
    width: 100%;
    border: none;
    background-color: #c39885;
    padding: 20px 0 20px 20px; 
    font-weight: bold;
    font-size: 14px;

}

.cart.checkout-section .subtotal-label {
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

/* end of CART SHOW stuff */

/*-----------------------------------*/
/*CHECKOUT - Collect Address STUFF */
/*-----------------------------------*/

.address-form h2 {
    margin-bottom: 15px;
}

.address-form .small {
    min-width: 150px;
    width: 30%;
}

.address-form .small input {
    width: 100%;
    display: inline;
}


.address-form #trio-address-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* end of CHECKOUT - Collect Address stuff */


/*-----------------------------------*/
/*CHECKOUT - Shipping Method STUFF */
/*-----------------------------------*/

.shipping-panel h2 {
    margin-bottom: 15px;
}

/*this is its own thing not the typical form fields */
.shipping-panel .box {
    padding-left: 10px;
    padding-top: 12px;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    border: 1px solid grey;


}

.shipping-panel .box label {
    text-transform: uppercase;
}

.shipping-panel .options-menu {
    margin-bottom: 30px;
}

/* end of CHECKOUT - Shipping Method stuff */


/*-----------------------------------*/
/*CHECKOUT - Payment STUFF */
/*-----------------------------------*/
.payment-form h2 {
    margin-bottom: 15px;
}



/* end of CHECKOUT - Payment stuff */
